{
  "plugins": ["stylelint-prettier"],
  "rules": {
    "prettier/prettier": true
  },
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-recess-order",
    "stylelint-config-standard"
  ]
}
